<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Online_Market.Properties.Settings.Online_MarketConnectionString"
            connectionString="Data Source=LAPTOP-GDI4675J;Initial Catalog=&quot;Online Market&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Online_Market.Properties.Settings.MarketConnectionString"
            connectionString="Data Source=LAPTOP-GDI4675J;Initial Catalog=Market;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>